.section4 {
  width: 100%;
  /* height: 100dvh; */
  height: calc(var(--vh, 1vh) * 100);
  background: #e2d3ce;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background-image: url('/comp_4/bg_mont.png');
  background-size: cover;
  background-position: center top 10dvh;
  background-repeat: no-repeat;
  z-index: 1;
  mask: linear-gradient(to bottom, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);
  -webkit-mask: linear-gradient(to bottom, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);
}

.leftImage {
  position: absolute;
  left: 15dvh;
  top: 18dvh;
  width: 137.76px;
  height: 307.67px;
  z-index: 2;
}

.rightImage {
  position: absolute;
  right: 15dvh;
  top: 45dvh;
  width: 144.65px;
  height: 323.05px;
  z-index: 2;
}

.additionalImage {
  position: absolute;
  right: 10dvh;
  top: 18dvh;
  width: 72.8px;
  height: 162.59px;
 
  z-index: 2;
}

.heroBlock {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 6.5dvh;
}

.title {
  width: 219px;
  height: 116px;
  color: var(--Style, rgba(12, 11, 16, 1));
  font-family: Forum;
  font-size: 60px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0%;
  text-align: left;
  margin: 0;
}

.description {
  width: 254px;
  height: 185px;
  color: rgba(0, 0, 0, 1);
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 179.8%;
  letter-spacing: 0%;
  text-align: left;
  margin: 0;
}

.diamond {
  position: absolute;
  top: 40dvh;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 105px;
  height: 200px;
  /* ромб через обрезку */
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  box-sizing: border-box;
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.31);
  border: 1px solid rgba(255, 255, 255, 0.5);
  z-index: 4;
}

.smallDiamond {
  position: absolute;
  top: calc(18dvh + 307.67px - 40px); /* верхний край ромба на нижнем краю картинки */
  left: calc(15dvh + 137.76px/2 - 24px); /* центрируем относительно картинки */
  width: 43px; /* 120px * 0.4 = 48px (на 60% меньше) */
  height: 80px; /* 200px * 0.4 = 80px (на 60% меньше) */
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  box-sizing: border-box;
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.411); /* увеличил прозрачность */

  z-index: 5; /* увеличил z-index чтобы был поверх картинки */
}

.rightSmallDiamond {
  position: absolute;
  top: calc(45dvh + 323.05px - 40px); /* верхний край ромба на нижнем краю правой картинки */
  right: calc(15dvh + 144.65px/2 - 24px); /* центрируем относительно правой картинки */
  width: 43px;
  height: 80px;
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  box-sizing: border-box;
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.411);

  z-index: 5;
}

.additionalSmallDiamond {
  position: absolute;
  top: calc(18dvh + 162.59px - 20px); /* верхний край ромба на нижнем краю дополнительной картинки */
  right: calc(10dvh + 72.8px/2 - 12px); /* центрируем относительно дополнительной картинки */
  width: 21px; /* пропорционально уменьшенный размер */
  height: 40px; /* пропорционально уменьшенный размер */
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  box-sizing: border-box;
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.411);

  z-index: 5;
}

.bottomBlock {
  position: absolute;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 6.5dvh;
  z-index: 3;
}

.bottomTitle {
  width: 256px;
  height: 302px;
  color: var(--Style, rgba(12, 11, 16, 1));
  font-family: Forum;
  font-size: 40px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0%;
  text-align: left;
  margin: 0;
}

.bottomText {
  width: 255px;
  height: 191px;
  color: rgba(0, 0, 0, 1);
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 179.8%;
  letter-spacing: 0%;
  text-align: left;
  margin: 0;
}




@media (min-width: 1700px) and (max-width: 2300px) {

  .heroBlock {
  
    gap: 12vh;
  }
  .leftImage {
  
    left: 15dvh;
    top: 18dvh;
    width: 157.76px;
    height: 337.67px;
   
  }
  
  .rightImage {
   
    right: 15dvh;
    top: 45dvh;
    width: 164.65px;
    height: 353.05px;
   
  }
  .additionalImage {
   
    right: 10dvh;
    top: 15dvh;
    width: 92.8px;
    height: 192.59px;
  }
  .smallDiamond {
   
    top: calc(21dvh + 307.67px - 40px); 
    left: calc(16.6dvh + 137.76px/2 - 24px); /* центрируем относительно картинки */
    width: 43px; /* 120px * 0.4 = 48px (на 60% меньше) */
    height: 80px; /* 200px * 0.4 = 80px (на 60% меньше) */
 
  }
  
  .rightSmallDiamond {
   
    top: calc(48dvh + 323.05px - 40px); /* верхний край ромба на нижнем краю правой картинки */
    right: calc(16.6vh + 144.65px/2 - 24px); /* центрируем относительно правой картинки */
    width: 43px;
    height: 80px;
   
  }
  
  .additionalSmallDiamond {
   
    top: calc(18dvh + 162.59px - 20px); /* верхний край ромба на нижнем краю дополнительной картинки */
    right: calc(10.7dvh + 72.8px/2 - 12px); /* центрируем относительно дополнительной картинки */
    width: 22px; /* пропорционально уменьшенный размер */
    height: 41px; /* пропорционально уменьшенный размер */
   
  }
  .bottomBlock {
   
    gap: 12dvh;
    
  }
  
}


@media (min-width: 900px) and (max-width: 1200px) {
  .backgroundImage {
   
  
    width: 100%;
    height: 80%;
   
  }
  
  .diamond {
   
    top: 35dvh;
   
    width: 90px;
    height: 180px;
   
  }
  
  .bottomBlock {
   
    bottom: 7vh;
    left: 35%;
   
    gap: 2dvh;
    z-index: 3;
  }
  .bottomTitle {
   
    font-size: 36px;
    line-height: 38px;
  }
}



@media (min-width: 768px) and (max-width: 900px) {
  .heroBlock {
   
    gap: 0dvh;
  }
  
  .title {
    
    font-size: 50px;
   
    line-height: 50px;
   
  }
  
  .description {
    width: 254px;
    height: 185px;
    
    font-size: 16px;
   
    line-height: 160%;
   
  }
  .backgroundImage {
   
  
    width: 100%;
    height: 80%;
   
  }
  .diamond {
   
    top: 35dvh;
   
    width: 90px;
    height: 180px;
   
  }
  
  .bottomBlock {
   
    bottom: 7vh;
    left: 38%;
   
    gap: 2dvh;
    z-index: 3;
  }
  .bottomTitle {
   
    font-size: 36px;
    line-height: 38px;
  }
  .leftImage {
  
    left: 7dvh;
    top: 18dvh;
    width: 127.76px;
    height: 300px;
   
  }
  
  .rightImage {
   
    right: 4dvh;
    top: 45dvh;
    width: 134.65px;
    height: 303.05px;
   
  }
  .additionalImage {
   
    right: 2dvh;
    top: 15dvh;
    width: 72.8px;
    height: 162.59px;
  }
  .smallDiamond {
   
    top: calc(17.5dvh + 307.67px - 40px); 
    left: calc(7.1dvh + 137.76px/2 - 24px); /* центрируем относительно картинки */
    width: 38px; /* 120px * 0.4 = 48px (на 60% меньше) */
    height: 70px; /* 200px * 0.4 = 80px (на 60% меньше) */
 
  }
  
  .rightSmallDiamond {
   
    top: calc(43dvh + 323.05px - 40px); /* верхний край ромба на нижнем краю правой картинки */
    right: calc(4dvh + 144.65px/2 - 24px); /* центрируем относительно правой картинки */
    width: 38px;
    height: 70px;
   
  }
  
  .additionalSmallDiamond {
   
    top: calc(15dvh + 162.59px - 20px); /* верхний край ромба на нижнем краю дополнительной картинки */
    right: calc(2dvh + 72.8px/2 - 12px); /* центрируем относительно дополнительной картинки */
    width: 22px; /* пропорционально уменьшенный размер */
    height: 41px; /* пропорционально уменьшенный размер */
   
  }
}


@media (min-width: 480px) and (max-width: 768px) {

  .heroBlock {
   
    gap: 0dvh;
  }
  
  .title {
    
    font-size: 50px;
   
    line-height: 50px;
   
  }
  
  .description {
    width: 254px;
    height: 185px;
    
    font-size: 16px;
   
    line-height: 160%;
   
  }
  .backgroundImage {
   
  
    width: 100%;
    height: 80%;
   
  }
  .diamond {
   
    top: 35dvh;
   
    width: 90px;
    height: 180px;
   
  }
  
  .bottomBlock {
   
    bottom: 7vh;
    left: 38%;
   
    gap: 2dvh;
    z-index: 3;
  }
  .bottomTitle {
   
    font-size: 36px;
    line-height: 38px;
  }
  .leftImage {
  
    left: 7dvh;
    top: 18dvh;
    width: 127.76px;
    height: 300px;
   
  }
  
  .rightImage {
   
    right: 4dvh;
    top: 45dvh;
    width: 134.65px;
    height: 303.05px;
   
  }
  .additionalImage {
   
  display: none;
  }
  .smallDiamond {
   
    top: calc(17.5dvh + 307.67px - 40px); 
    left: calc(7.1dvh + 137.76px/2 - 24px); /* центрируем относительно картинки */
    width: 38px; /* 120px * 0.4 = 48px (на 60% меньше) */
    height: 70px; /* 200px * 0.4 = 80px (на 60% меньше) */
 
  }
  
  .rightSmallDiamond {
   
    top: calc(43dvh + 323.05px - 40px); /* верхний край ромба на нижнем краю правой картинки */
    right: calc(4dvh + 144.65px/2 - 24px); /* центрируем относительно правой картинки */
    width: 38px;
    height: 70px;
   
  }
  
  .additionalSmallDiamond {
   
   display: none;
   
  }
}