.page {
  width: 100%;
  min-height: 100vh;
  position: relative;
  max-width: 100vw;
}

/* Адаптивные стили для разных размеров экрана */
@media (max-width: 1200px) {
  .page {
    min-height: 100vh;
  }
}

@media (max-width: 768px) {
  .page {
    min-height: 100vh;
  }
}

@media (max-width: 480px) {
  .page {
    min-height: 100vh;
  }
}
